<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Home</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>What is this?</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>Register / Login</mat-icon>
  </button>
  <a routerLink="/admin" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon></mat-icon>Admin
  </a>
</mat-toolbar>